.wrapper {
    width: 300px;
    background-color: rgba(125, 129, 128, 0.404);
    border-radius: 5px;
    padding: 0 5px 5px 5px;
}

.button {
    display: flex;
    justify-content: center;
}