.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wrapper_result {
  max-width: 1440px;
}

.button_red {
  background-color: red;
}

.link {
  margin: 20px;
  padding: 20px;
  background-color: rgb(15, 136, 248);
  display: inline-block;
}